<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/client/public/style/style.css">

</head>
<body>

    <h1>What are you looking for?</h1>

    <div class="container">
        <button>Price</button>
        <br>
        <button>Location</button>
        <br>
        <button>Top 10</button>

    </div>
    
</body>
</html>