<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet"  href="/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
</head>
<body>

    <div class="gridcontainer">
        <div class="loginbox">
            <div class="input">
                <form action="/register" method="POST" >
                    <h1 class="login">Sign up</h1>
                    <input id="name" name="username" placeholder="Username" type="text" required>
                    <br>
                    <input id="password" name="password" placeholder="Password" type="password" required>
                    <br>
                    <button id="submit" type="submit">Sign up</button>
                    <p id="text">
                            Already have an account? Log in
                            <span><a href="/login">
                                 here
                            </a></span>
                        </p>
                </form>
                
            </div>
            
        </div>
    </div>
    
</body>
</html>