<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/client/public/style/style.css">
</head>
<body>

    <div class="gridcontainer">
        <div class="loginbox">
            <div class="input">
                <h1>Sign up</h1>
                <input id="name" placeholder="Username" type="text">
                <br>
                <input id="password" placeholder="Password" type="password">
                <br>
                <button id="submit" type="submit">Sign up</button>
                <p id="text">
                        Already have an account? Log in
                        <span><a href="login.html">
                             here
                        </a></span>
                    </p>
            </div>
            
        </div>
    </div>
    
</body>
</html>