body{
    background: rgb(17, 17, 17);
    color: white;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* hur man går box shadow på text? */

.gridcontainer{
    width: 100%;
}

.loginbox{
  padding: 0;
  margin: 0;
  list-style: none;
  height: 400px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  border: 2px solid rgb(0, 68, 255);
  margin-left: 27%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px  rgb(0, 68, 255);    

}

.header{
    margin-top: 150px;

}

.container{
    text-align: center;
    margin-top: 0%;
    
}


.all{
    margin-top: 35px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    border: 2px solid rgb(0, 68, 255);
    background: rgb(17, 17, 17);
    color: white;
    box-shadow: 0px 0px 10px  rgb(0, 68, 255);    

}

.top5{
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    border: 2px solid rgb(0, 68, 255);
    background: rgb(17, 17, 17);
    color: white;
    box-shadow: 0px 0px 10px  rgb(0, 68, 255);    
}

.hidden{
  display: none;
}

h1{
    text-align: center;
    color: white;
    text-shadow: -2px 0 20px rgb(0, 68, 255), 0 2px rgb(0, 68, 255), 2px 0 rgb(0, 68, 255), 0 -2px rgb(0, 68, 255);
}

#name{
    width: 300px;
    height: 20px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid rgb(0, 68, 255);
    background: rgb(17, 17, 17);
    color: white; 
    padding: 10px;
}

#password{
    margin-top: 40px;
    width: 93%;
    border-radius: 5px;
    height: 20px;
    font-size: 15px;
    border: 2px solid rgb(0, 68, 255);
    background: rgb(17, 17, 17);
    color: white; 
    padding: 10px;

}

#submit{
    padding: 10px;
    text-align: center; 
        /* height: 30px; */
        width: 150px;
    margin-top: 40px;
    border-radius: 5px;
    margin-left: 26%;
    border: 2px solid rgb(0, 68, 255);
    background: rgb(17, 17, 17);
    color: white;
    box-shadow: 0px 0px 20px  rgb(0, 68, 255);
    font-size: 20px;
 
}

#submit:hover{
    cursor: pointer;
    background: rgb(0, 68, 255);
    color: rgb(17, 17, 17);
    box-shadow: 0px 0px 80px  rgb(0, 68, 255);
}

.all:hover, .top5:hover{
    cursor: pointer;
    background: rgb(0, 68, 255);
    color: rgb(17, 17, 17);
    box-shadow: 0px 0px 80px  rgb(0, 68, 255);

}

.all-cards{
    height: 120px;
    border: 1px solid rgb(0, 68, 255);
    width: 50%;
    margin-left: 25%;
}

.hidden{
    display: none;
}

.edit-container{
        display: none;
}


#text{
    margin-top: 40px;
    text-align: center;
}